body {
  	background-image: url("../images/curvas_nivel.png");
  	background-color: white !important;
  	font-family: sans-serif; /* 1 */
  	-ms-text-size-adjust: 100%; /* 2 */
  	-webkit-text-size-adjust: 100%; /* 2 */
}

/* CONTENT */

.content {
	background-color: white;
	margin: 0 auto 0 auto;
	width: 1080px;
	box-shadow: 0px 0px 15px 2px rgba(153,153,153,1);
	-webkit-box-shadow: 0px 0px 15px 2px rgba(153,153,153,1);
	-moz-box-shadow: 0px 0px 15px 2px rgba(153,153,153,1);
	box-shadow: 0px 0px 15px 2px rgba(153,153,153,1);
}

/* MENU */

.menu {
	margin: 0 30px !important;
	position: relative;
	box-sizing: border-box;
	word-wrap: break-word;
}

.menu .logo {
	background-image: url('../images/msi.jpg');
  	background-repeat: no-repeat;
  	background-size: 120px 93%;
  	width: 150px;
  	height: 93px;
  	padding: 20px 0 0 120px;
}

.menu .logo p,
.menu .carta p {
	margin: 0;	
}

.menu .logo p:nth-child(1) {
	font-size: 30px; /* 1da fila */
	font-weight: bold;
	color: #3f511d;
}

.menu .logo p:nth-child(2) {
	font-size: 12px; /* 2ra fila */
}

.menu .carta {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 193px;
	margin: 0 0 15px 0;
}

.menu .carta p:nth-child(1) {
	font-size: 30px; /* 1da fila */
	font-weight: bold;
	color: #679f1a;
	width: 80px;
}

.menu .carta p:nth-child(2) {
	font-size: 12px; /* 2da fila */
	font-weight: bold;
	padding-top: 2px;
	padding-left: 5px;
	width: 100px;
	border-left: 2px solid #679f1a;
	cursor: pointer;
}

.menu .carta p {
	display: inline-block;
	vertical-align: top;
	height: 27px;
}

/* SLIDER-BAR */

.slider-bar {
	background-color: #d5d5d5;
	height: 288px;
	margin: 0 0 15px 0;
	
}
.slider-bar .slider-container {
	overflow: hidden !important;
}

/* DATA GIS y SERVICES WMS */

/* Bordes generales a las secciones */
.data-gis,
.services-wms{
	margin: 0 15px;
	box-sizing: border-box;
	word-wrap: break-word;
}

.data-gis .seccion,
.services-wms .seccion {
	border: 2px solid #e5e5e5;
	margin: 15px;
	position: relative;
	display: inline-block;
	padding: 20px;
	box-sizing: border-box;
}

.data-gis .seccion p {
	display: block;
	margin: 0;
}

.data-gis .seccion > p:nth-child(1),
.services-wms .seccion > p:nth-child(1) {
	font-size: 25px; /* 1ra fila */
}

.data-gis .seccion > p:nth-child(2),
.services-wms .seccion > p:nth-child(2) {
	font-size: 40px; /* 2da fila */
}

.data-gis .seccion:nth-child(1) > p:nth-child(2) {
	color: #23649e; /* Color - Catálogo de Metadatos */
}

.data-gis .seccion:nth-child(2) > p:nth-child(2) {
	color: #64a01c; /* Color - Visor Catastral */
}

.data-gis .seccion:nth-child(3) > p:nth-child(2) {
	color: #b3a31a; /* Color - Servicios WMS | Institucionales */
}

.data-gis .seccion:nth-child(1) > span:nth-child(3) {
	/* Border SUPERIOR - Catálogo de Metadatos */
	border-left: 5px solid #23649e;
	border-top: 5px solid #23649e;
	top: -2px;
	left: -2px;
}

.data-gis .seccion:nth-child(1) > span:nth-child(4) {
	/* Border INFERIOR - Catálogo de Metadatos */
	border-right: 5px solid #23649e;
	border-bottom: 5px solid #23649e;
	bottom: -2px;
	right: -2px;
}

.data-gis .seccion:nth-child(2) > span:nth-child(3) {
	/* Border SUPERIOR - Visor Catastral */
	border-left: 5px solid #64a01c;
	border-top: 5px solid #64a01c;
	top: -2px;
	left: -2px;
}

.data-gis .seccion:nth-child(2) > span:nth-child(4) {
	/* Border INFERIOR - Visor Catastral */
	border-right: 5px solid #64a01c;
	border-bottom: 5px solid #64a01c;
	bottom: -2px;
	right: -2px;
}

.data-gis .seccion:nth-child(3) > span:nth-child(3) {
	/* Border SUPERIOR - Servicios WMS | Institucionales */
	border-left: 5px solid #b3a31a;
	border-top: 5px solid #b3a31a;
	top: -2px;
	left: -2px;
}

.data-gis .seccion:nth-child(3) > span:nth-child(4) {
	/* Border INFERIOR - Servicios WMS | Institucionales*/
	border-right: 5px solid #b3a31a;
	border-bottom: 5px solid #b3a31a;
	bottom: -2px;
	right: -2px;
}

/* SERVICES WMS */

.services-wms .seccion p {
	display: inline-block;
	margin: 0;
}

/*
.services-wms .seccion {
	width: 96.7%;
}
*/

.services-wms .seccion:nth-child(1) > p:nth-child(2) {
	color: #9e9e9e /* Color - Información Catastral */
}

.services-wms .seccion:nth-child(1) > span:nth-child(3) {
	/* Border SUPERIOR - Información Catastral */
	border-left: 5px solid #9e9e9e;
	border-top: 5px solid #9e9e9e;
	top: -2px;
	left: -2px;
}

.services-wms .seccion:nth-child(1) > span:nth-child(4) {
	/* Border INFERIOR - Información Catastral */
	border-right: 5px solid #9e9e9e;
	border-bottom: 5px solid #9e9e9e;
	bottom: -2px;
	right: -2px;
}

/* SERVICES WMS - CONTENIDO */
/*
.services-wms .seccion .seccion-categorias .seccion {
	border: none;
	display: inline-block;
	position: relative;
	margin: 5px;
	height: 150px;
	width: 23.5%;
}
*/

.services-wms .seccion .seccion-categorias .obras {
	background-color: #439aae;
}

.services-wms .seccion .seccion-categorias .sostenible {
	background-color: #2e6d02;
}

.services-wms .seccion .seccion-categorias .administracion {
	background-color: #d5d5d5;
}

.services-wms .seccion .seccion-categorias .educacionCultural {
	background-color: #4d4d4d;
}

.services-wms .seccion .seccion-categorias .presupuesto {
	background-color: #d6ae00;
}

.services-wms .seccion .seccion-categorias .seguridadCiudadana {
	background-color: #336799;
}

.services-wms .seccion .seccion-categorias .autorizacionControl {
	background-color: #999999;
}

.services-wms .seccion .seccion-categorias .administracionTributaria {
	background-color: #24a451;
}

.services-wms .seccion .seccion-categorias >.seccion img,
.services-wms .seccion .seccion-categorias >.seccion p {
	position: absolute;
	color: white;
	left: 0;
	
}
.services-wms .seccion .seccion-categorias >.seccion img {
	top: 0;
	margin: 10px 0 0 13px;
}
.services-wms .seccion .seccion-categorias >.seccion p {
	bottom: 0;
	margin: 0 13px 13px 13px;
}

/* FOOTER */
.content footer {
	background-color: rgba(51,51,51,1);
	color: white;
	font-size: 12px;
	padding: 15px 30px;
	margin-top: 15px;
}

.content footer section {
	display: inline-block;
	vertical-align: top;
}

.content footer section.footer-2 {
	float: right;
}

.content footer h4 {
	margin: 0 0 10px 0;
}
.content footer .footer-1, 
.content footer .footer-2 {
	width: 48%;
}

.content footer p {
	margin: 1px 0;
	display: block;
}

/* Central / Alerta San Isidro / Aló Rentas */
.content footer p:nth-child(3),
.content footer p:nth-child(4),
.content footer p:nth-child(5) {
	width: 190px;	
}

.content footer p span {
	float: right;
}

.content footer .footer-2 .redes {
	text-align: right;
	width: 100%;
}

.content footer .footer-2 .redes .red-social {
	width: 25px;
}

.content footer .footer-2 div {
	width: 70px;
}

.content footer .footer-2 .redes .red-social,
.content footer .footer-2 div {
	display: inline-block;
	margin-left: 7px;
}

.content footer .footer-2 div img {
	width: 100%;
}

.content footer .footer-2 p {
	width: 100%;
	text-align: right;
}

.content footer .footer-2 hr {
	margin-bottom: 10px;
}

/* */
.data-gis .seccion > span,
.services-wms .seccion > span {
	/*Border de todo  DATA-GIS */
	background: none !important;
	position: absolute;
	width: 35%;
	height: 45%
}

.data-gis .seccion:hover
{
	background-color: rgba(158,158,158,0.1);
	cursor: pointer;
}

.services-wms .seccion-categorias .seccion:hover {
	background-color: rgba(158,158,158,0.1);
	border: 2px solid #e5e5e5 !important;
	cursor: pointer;
	text-shadow: 2px 2px 2px rgba(77,77,77,1);
}

.services-wms .seccion-categorias .seccion:hover img {
	filter: drop-shadow(5px 5px 10px #444) !important;
}
 
